<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memo_mapper">
	<insert id="insertMemo" parameterType="Memo">
		INSERT INTO MEMO (ID, PROJECT_ID, TITLE, CONTENT, MODIFYTIME, WRITTER)
		VALUES (MEMO_SEQ.NEXTVAL, #{projectId}, #{title}, #{content},
		SYSTIMESTAMP, #{writter})
	</insert>

	<update id="updateMemo" parameterType="Memo">
		UPDATE MEMO
		SET TITLE = #{title},
		CONTENT = #{content},
		MODIFYTIME = SYSTIMESTAMP,
		WRITTER = #{writter}
		WHERE ID = #{id}
	</update>

	<delete id="deleteMemo" parameterType="long">
		DELETE FROM MEMO WHERE ID = #{id}
	</delete>


<select id="selectByProjectId" parameterType="map"
        resultType="com.app.dto.project.Memo">
  SELECT id, project_id AS projectId, title, content, writter, modifytime
  FROM MEMO
  WHERE project_id = #{projectId}
  ORDER BY modifytime
  <choose>
    <when test='order == "asc"'>ASC</when>
    <otherwise>DESC</otherwise>
  </choose>
</select>




</mapper>