<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="project_mapper">

	<insert id="createProject" parameterType="Project">
		INSERT INTO t_project (
      id, manager, title, content, start_dt, end_dt
    ) VALUES (
      project_seq.NEXTVAL,
      #{manager},
      #{title},
      #{content},
      #{startDt},
      #{endDt}
    )
	</insert>
	
	<select id="findAllProjects" resultType="Project">
		SELECT * FROM t_project
	</select>
	
	<select id="findProjectById" resultType="Project" parameterType="Long">
		SELECT * FROM t_project
		where id = #{projectId}
	</select>
	
	<select id="findProjectsByUserId" resultType="Project" parameterType="String">
		SELECT p.*
  FROM project_member m
  JOIN t_project p ON m.project_id = p.id
  WHERE m.user_id = #{userId}
	</select>



	<!-- 내가 작성한 프로젝트 -->
	<select id="findMyProjects" resultType="com.app.dto.project.Project">
	    SELECT * FROM t_project
	    WHERE manager = #{userId}
	</select>


	<!-- 내가 참여한 프로젝트 (작성자와 상관없이) -->
	<select id="findParticipatedProjects" resultType="com.app.dto.project.Project">
	    SELECT p.*
	    FROM t_project p
	    JOIN project_user pu ON p.id = pu.project_id
	    WHERE pu.user_id = #{userId}
	</select>






</mapper>