<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC
		   "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper namespace="schedule_mapper">

	<select id="findMaxScheduleId" resultType="int">
	  SELECT NVL(MAX(ID), 0) FROM SCHEDULE
	</select>

	<insert id="saveSchedule" parameterType="Schedule">
		INSERT INTO schedule (
      id, title, content, type, start_dt, end_dt, completed, color,project_id
    ) VALUES (
      schedule_seq.NEXTVAL,
      #{title},
      #{content},
      #{type},
      #{startDt},
      #{endDt},
      #{completed},
      #{color},
      #{projectId}
    )
	</insert>
	
	<select id="findSchedulesByProjectId" parameterType="Long" resultType="Schedule">
		SELECT * FROM schedule
		WHERE project_id=#{projectId}
	</select>
	
	<delete id="deleteScheduleById" parameterType="long">
		DELETE FROM schedule
		WHERE id=#{id}
	</delete>
	
	<update id="modifySchedule" parameterType="Schedule">
		UPDATE schedule
		SET id = #{id},
			title = #{title},
		    content = #{content},
		    type = #{type},
		    start_dt = #{startDt},
		    end_dt = #{endDt},
		    completed = #{completed},
		    color = #{color}
		WHERE id=#{id}
	</update>
	
	<select id="selectSchedulesByUserAndProject" resultType="Schedule" parameterType="map">
  SELECT 
    s.ID          AS id,
    s.TITLE       AS title,
    s.CONTENT     AS content,
    s.TYPE        AS type,
    s.START_DT    AS startDt,
    s.END_DT      AS endDt,
    s.COMPLETED   AS completed,
    s.COLOR       AS color,
    s.PROJECT_ID  AS projectId
  FROM taskmember tm
  INNER JOIN schedule s ON tm.SCHEDULE_ID = s.ID
  WHERE tm.USER_ID = #{userId}
    AND s.PROJECT_ID = #{projectId}
</select>
	
	
	

</mapper>