<?xml version="1.0" encoding="UTF-8"?>						
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"						
					"http://mybatis.org/dtd/mybatis-3-config.dtd">	


<configuration>		
		
	<settings>	
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
		
		
 	<typeAliases>	
		<typeAlias type="com.app.dto.project.Schedule" alias="Schedule"/>			
		<typeAlias type="com.app.dto.user.User" alias="User"/>
		<typeAlias type="com.app.dto.project.Project" alias="Project"/>
		<typeAlias type="com.app.dto.project.Memo" alias="Memo"/>
		<typeAlias type="com.app.dto.project.ProjectMember" alias="ProjectMember"/>
		<typeAlias type="com.app.dto.project.TaskMember" alias="TaskMember"/>
		<typeAlias type="com.app.dto.project.TaskComment" alias="TaskComment"/>
	</typeAliases>	
		
		
		
		
</configuration>		
